@import '../../styles/styles.scss';
.button{
    &__component{
        background-color: $brainflix-blue;
        font-family: 'Avenir';
        color: white;
        align-self: flex-end;
        margin: 1rem 0 0 0;
        height: 3.125rem;
        border-radius: 0.25rem;
        border: 0;
        font-weight: 700;
        width: 66vw;

        @include tablet {
            height: 2.8rem;
            margin: 0 1rem;
            width: 10vw;
        }
    }
}