@import '../../styles/styles.scss';

.profileImage{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    object-position: left;
    object-fit: cover;
    background-color: gray;
    @include tablet{
        width: 2.8125rem;
        height: 2.8125rem;
    }
    
}