@import '../../styles/styles.scss';

.profileImage{
    height: 12vw;
    width: 12vw;
    border-radius: 100%;
    object-position: left;
    object-fit: cover;
    background-color: gray;
    @include tablet{
        width: 8vh;
        height: 8vh;
    }
    
}