@import '../../styles/styles.scss';

h3{
    color: gray;
    text-align: left;
}
.videoCard__section{
    display: flex;
    justify-content: space-between;
}
.nextVideo__title{
    padding: 1em 0;
}
// .comments__section{
//     display: flex;
//     flex-direction: column;
//     @include desktop{
//         flex-direction: row;
//     }
// }