
@font-face {
    font-family: 'Avenir Next';
    src: url("../Assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../Assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../Assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf");
    font-weight: 500;
}

